.roncin-order-form {
  .ant-form-item-row {
    flex-wrap: nowrap;
    align-items: center;
  }

  .ant-form-item-label {
    flex: 0 0 96px !important;
    max-width: 96px !important;
    padding: 0 !important;
  }

  .ant-form-item-label > label {
    height: 32px;
    white-space: nowrap;
  }

  .ant-form-item-control {
    flex: 1 1 0 !important;
    min-width: 0;
  }
}
