.env
.env.*
!.env.example
.idea/
.vscode/
node_modules/
.cache/
web/dist/
web/.umi/
web/.umi-production/
server/bin/
server/tmp/
server/var/
server/internal/webassets/dist/*
!server/internal/webassets/dist/.gitkeep
